# Exclude all __pycache__ folders
__pycache__/

# Exclude any .venv directory
.venv/

# Specific files to ignore
aigesx.log
*.log
cve_data/__pycache__/*
cve_data/NVD/*.json

# Local project planning
/todo.md